header{
    height: 200px;
    width: 100%;
    background-color: gray;
    color: white;
    margin-bottom: 1%;
}

aside{
    float: left;
    background-color: yellow;
    color: black;
    height: 600px;
    width: 30%;
}

main{
    height: 600px;
    background-color: pink;
    color: black;
    width: 70%;
    float: left;
}

footer{
    
    display: inline-block;
    margin-top: 20px;
    background-color: dimgray;
    
}